<main
  style="display: flex; position: relative; padding-top: 0; flex-wrap: wrap; flex-shrink: 0; justify-content: center; align-content: center; width: 100vw; height: 100vh;"
>
  <rtk-screenshare-view
    *ngIf="hasScreenshare"
    [meeting]="meeting"
    [participant]="screensharedParticipants[0]"
    [hideFullScreenButton]="true"
  ></rtk-screenshare-view>

  <div
    [style.height]="'calc(' + bubbleSize.height + ' + 1.25rem)'"
    style="display: flex; position: fixed; bottom: 0; z-index: 10; padding-left: 2.5rem; padding-right: 2.5rem; vertical-align: middle; justify-content: flex-start; width: 100%; gap: 1rem; margin-left: 2rem;"
  >
    <div
      *ngFor="let participant of participants; trackBy: trackById"
      [style.height]="bubbleSize.height"
      [style.width]="bubbleSize.width"
      style="border-radius: 9999px;"
    >
      <rtk-participant-tile
        [participant]="participant"
        [style.height]="bubbleSize.height"
        [style.width]="bubbleSize.width"
        style="transition-property: all; border-radius: 9999px; border-width: 1px;"
      >
        <rtk-avatar [participant]="participant"></rtk-avatar>
      </rtk-participant-tile>
    </div>
  </div>

  <rtk-participants-audio [meeting]="meeting"></rtk-participants-audio>
</main>
