name: Deploy Web Examples (Staging)
permissions:
  contents: read

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy Web Examples (Staging)
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./

      - name: Build
        run: pnpm run build
        working-directory: ./demo-app
        env:
          CLOUDFLARE_ENV: staging
          VITE_ENV: staging
          VITE_ORG_ID: ${{ secrets.VITE_ORG_ID_STAGING }}
          VITE_API_KEY: ${{ secrets.VITE_API_KEY_STAGING }}
          VITE_BASE_URL: ${{ secrets.VITE_BASE_URL_STAGING }}

      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: '4.40.2'
          command: deploy
          workingDirectory: ./demo-app
        env:
          CLOUDFLARE_ENV: staging
          VITE_API_KEY: ${{ secrets.VITE_API_KEY }}
          VITE_ORG_ID: ${{ secrets.VITE_ORG_ID }}
          VITE_BASE_URL: ${{ secrets.VITE_BASE_URL }}
          VITE_ENV: staging